/**
 * BUGO BREADCRUMBS
 **/

@import "bugo-breadcrumbs-vars";

@debug "Loading Bugo Breadcrumb Module SASS";
@import "custom-variables";

.breadcrumbs {
  grid-area: bread;
  @include space-element-x(margin, $breadcrumbs-margin-left, $breadcrumbs-margin-right);
  @include space-element-y(margin, $breadcrumbs-margin-top, $breadcrumbs-margin-bottom);
  @include space-element-x(padding, $breadcrumbs-padding-left, $breadcrumbs-padding-right);
  @include space-element-y(padding, $breadcrumbs-padding-top, $breadcrumbs-padding-bottom);

  ol {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;

    li {
      display: inline-flex;
      margin: 0;
      position: relative;
      white-space: nowrap;
      align-items: center;
      @include ms-respond(font-size,0.5);

      &:not(:first-child) {
        margin-left: 0.5em;
        &::before {
          display: inline-block !important;
          margin: 0;
          padding: 0;
          content: $breadcrumbs-char;
          display: inline;
        }
      }

      &:last-child {
        a {
          font-weight: $breadcrumbs-active-font-weight;
        }
      }

      a {
        white-space: nowrap;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: $breadcrumbs-font-weight;
        @include ms-respond(font-size,$breadcrumbs-font-size);
        max-width: 14ch;

        @include respond-to(sm){
          max-width: 23ch;
        }

        @include respond-to(md){
          max-width: 60vw;
        }
      }
    }
  }
}
